<div class="container">
    <legend>User Login</legend>
    <form #loginForm class="form-group" (ngSubmit)="loginSubmit(loginForm.value)">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-text-background"></i></span>
            <input type="text" class="form-control" name="mailId"  placeholder="Enter email" [(ngModel)]="user.mailId">
        </div> <br />
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" name="password"  placeholder="Enter your password" [(ngModel)]="user.password">
        </div> <br />
        <button class="btn btn-primary">Login</button><br /><br />
            
    </form>
    <h5>NO ACCOUNT?? REGISTER</h5>
            <button class="btn btn-primary" routerLink="UserRegister">Register</button>
    
</div>
